<include file="public/top"/>
<include file="public/header_admin"/>
<div class="main">
	
	<div class="xunjiadan">
		<!-- 局部样式 -->
		<link rel="stylesheet" href="__PUBLIC__/css/user_gouwuche.css">
		<!-- 局部样式 结束 -->
		<h1>发布促销</h1>
		<div class="xunjia-main">
			<div class="tip">发布自己想要促销的商品</div>
			<h2>促销产品</h2>
			<form id="form_cuxiao_info" action="{:U("Admin/getPromotionalGoodsInfo")}" method="post">
				<div class="wrap chuxiao" id="chuxiao_list">
					<ul class="title">
						<li>品名</li>
						<li>规格</li>
						<li>材质</li>
						<li>钢厂</li>
						<li>地区</li>
						<li>数量</li>
						<li>供应商</li>
						<li>价格</li>
					</ul>
					<section>
						<div>
							<input type="text" name="product_name">
						</div>
						<div>
							<input type="text" name="product_specifications">
						</div>
						<div>
							<input type="text" name="product_material">
						</div>
						<div>
							<input type="text" name="manufacturer">
						</div>
						<div>
							<input type="text" name="area" >
						</div>
						<div>
							<input type="number" name="quantity" >
						</div>
						<div>
							<input type="text" name="supplier">
						</div>
						<div>
							<input type="number" name="price"><a class="de_input"></a>
						</div>
					</section>
				</div>
				
				<label for="">你的姓名：</label>
				<input type="text" class="name" name="linkman">
				<input type="radio" name="title" checked="checked" value="先生">先生
				<input type="radio" name="title" value="女士">女士<br>
				<label for="">手机号码：</label>
				<input type="number" class="tel" name="telephone">
				<button type="button" onclick="submit_cuxiao_info()" class="lowPrice">发布</button>
			</form>
		</div>
		


	</div>
</div>
<!-- footer开始 -->
<include file="public/footer"/>
</div>
<!-- footer结束 -->
<script src="http://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">

    function submit_cuxiao_info(){
		var ipt_info=$("#form_cuxiao_info").find("input");
		var bo=true;
		ipt_info.each(function(){
			if($(this).attr('value')==""){
				alert("输入信息不完整！");
				bo=false;
				return false;
			}
		});
		if(bo==true){
			document.getElementById("form_cuxiao_info").submit();	
		}
	    }

</script>
</body>
</html>