<include file="public/top"/>
	<div style="width:100%; border-top:1px solid #ccc;"></div>
	<include file="public/header_admin"/>
    </div>
<div class="main">
	<include file="public/left"/>

	<div class="dingdan_right">
		<div id="position">
			你当前的位置：
			<a href="">会员中心</a><span></span>
			<a href="">我的发布</a><span></span>
			<a href="" class="now_ps">求购管理</a>
		</div>
		<!-- 局部样式 -->
		<link rel="stylesheet" href="__PUBLIC__/css/user_qiugou.css">
		
		<!-- 分类开始 -->
		<ul class="classify">
		</ul>
		<!-- 分类结束 -->
		<!-- 查询开始 -->
		<div class="form_box">
			<form action="" method="get">
				<input style="width:192px; padding:0px 8px;" name="product_name" type="text" placeholder="输入品名">
				<label for="pinzhong">发布时间：</label>
				<input  name="time_start" type="date">
				<label for="gongsi_name">至</label>
				<input  name="time_end" type="date">
				<input id="search_btn" type="image" src="__PUBLIC__/images/search_btn.jpg" >
				<div>
					<a href="{:U('Admin/fabu_qiugou')}">
						<img id="fabu_btn" src="__PUBLIC__/images/qiugou.jpg" alt="">
					</a>	
					<a href="javascript:void(0)" id="upload">
						<label for="up-piugou">
						<img id="fabu_btn" style="top:5px;" width="162px" src="__PUBLIC__/images/upload_qiugou.jpg" alt="">
						</label>
					</a>
					<a href="{:U('Admin/download_qiugou_xls')}">
						<img id="fabu_btn" width="162px" src="__PUBLIC__/images/down_load_qiugou-bg.jpg" alt="">
					</a>
				</div>
			</form>
		</div>
		<!-- 查询结束 -->
		<!-- 列表开始 -->
		<form action="" method="">
		<div class="dingdan_box" id="dingdan_box">
			<!-- 列表头部开始 -->	
			<ul id="dingdan_title">
				<li class="all_check" style="width:30px;"><input type="checkbox" name="item0"></li>
				<li style="width:60px;">品名</li>
				<li style="width:50px;">材质</li>
				<li style="width:50px;">规格</li>
				<li style="width:84px;">采购量（吨）</li>
				<li style="width:62px;">产地/厂家</li>
				<li style="width:60px;">收货地</li>
				<li style="width:70px;">发布时间</li>
				<li style="width:70px;">截止日期</li>
				<li style="width:84px;">收到的报价</li>
				<li style="width:50px;">状态</li>
				<li style="width:84px;">操作</li>
				<div style="clear:both;"></div>
			</ul>
			<!-- 列表头部结束 -->
			<volist name="goods" id="item">
			   <ul id="ul{$item.gtb_id}" class="{$item.gtb_id} dingdan_list">
				<li class="one_check" style="width:30px;border-left:none;">
				<input type="checkbox" name="item0">
				</li>
				<li style="width:60px;">{$item.product_name}</li>
				<li style="width:50px;">{$item.product_material}</li>
				<li style="width:50px;">{$item.product_specifications}</li>
				<li style="width:84px;">{$item.quantity}</li>
				<li style="width:62px;">{$item.manufacturer}</li>
				<li style="width:60px;">{$item.delivery_place}</li>
				<li style="width:70px;">{$item.created_at|date="Y-m-d H:i",###}</li>
				<li style="width:70px;">{$item.expired_time|date="Y-m-d H:i ",###}</li>
				<li style="width:84px;">{$item.quotations|count}</li>
				<li style="width:50px;">{$item.approval_status|qiugou_status_to_show}</li>
				<li style="width:84px;">
				<a href="#" onclick="boxFadeIn({$item.gtb_id})">修改</a>
				<a href="{:U('deleteQiugouInfo',array('id'=>$item['gtb_id']))}">删除</a></li>
				<div style="clear:both;"></div>
				<!-- 报价详细信息 开始 -->
				<style>
					.dingdan_list li:hover{background-color: #FFF}
					.lookBj{ width: 100%; border-top: 1px solid #f2f2f2; padding:5px 0; background-color: #eee; display: none;}
					.lookBj-item { overflow: hidden;}
					.lookBj-item span{ float: left; line-height: 2;width: 20%}
				</style>
				<div class="lookBj">
					<volist name="item.quotations" id="quot">
					<div class="lookBj-item">
						<span><b>报价：</b>{$quot.unit_price}/吨（不含税）</span>
						<span><b>交货地：</b>{$quot.delivery_place}</span>
						<span><b>运费：</b>4000</span>
						<span><b>税务发票：</b>不要</span>
					</div>
					</volist>
				</div>
				
				<!-- 报价详细信息 结束 -->
			</ul>
			</volist>
			<!-- 列表为空时显示   开始 -->
			<div id="no_dingdan">
				<p>暂无资源单，赶紧去商城挑选吧！<br><a href="">商城首页>></a></p>
			</div>
			<!-- 列表为空时显示   结束 -->
			<!-- 类表底部开始 -->
			<ul class="dingdan_list dingdan_bottom" style="overflow:hidden;">
				<li class="all_check">
				<input type="checkbox" name="item0">
				</li>	
				<li class="alert" id="batch_refresh">批量刷新</li>
				<li class="alert" id="one_delet">批量删除</li>
			
			</ul>
			<!-- 类表底部结束 -->
		</div>
		</form>
		<!-- 列表开始 -->
		<!-- 页码开始 -->
		<div id="page_ps">
			<ul>
			{$page}
			</ul>
		</div>
		<!-- 页码结束 -->
	</div>
	<!-- //右边结束 -->
</div>
<include file="public/footer"/>

<div id="appendBox">
	<style>
	/*报价单样式*/
	#appendBox{ position: fixed; top:0; left: 0; width: 100%; height: 1000px;z-index: 11; display: none;}
	#appendBox .mark{ background-color: #000; width: 100%; height: 100%; opacity: 0.7;
	position: absolute; top:0; left: 0; z-index: 10;}
	.makeSurePrice { position: relative; top:50px; z-index: 15; background-color: #FFF; width: 503px;
	padding:20px;left: 50%; margin-left: -263px;}


	.makeSurePrice .item0 { overflow: hidden; margin-top: 20px;}
	.makeSurePrice .item0 ul{ float: left; line-height: 1.6; margin-left:10px;}
	.makeSurePrice .item0 ul span{ color:#FF5500;}
	.makeSurePrice .item0 .askPrice{ float: left; background-color: #FF1300; color:#FFF; border-radius:3px; padding:0px 5px; line-height: 1.6em; margin-left: 10px;}
	.makeSurePrice .item0 .lookUp{ float: right; display: inline-block; width: 140px; height: 40px; background-color: #FF5500; color:#FFF; font-size: 16px; cursor:pointer; line-height: 40px; text-align: center; margin-right: 20px;}
	.makeSurePrice .item1 {margin-top:60px;}
	.makeSurePrice .item1 h1 { line-height: 2em; font-size: 16px;}
	.makeSurePrice .item1 h1 span{ font-size: 12px; color:#999;}
	.makeSurePrice .item1 ul { overflow: hidden;border:1px solid #CCC;}
	.makeSurePrice .item1 ul li{ overflow: hidden; float: left; width: 20%; font-size: 14px; text-align: center;}
	.makeSurePrice .item1 ul.title{border-bottom: none;}
	.makeSurePrice .item1 ul.title li { line-height: 3em;}
	.makeSurePrice .item1 ul.content li { line-height: 4em;}

	.makeSurePrice .item2 label { display: inline-block; width: 80px; text-align: right;}
	.makeSurePrice .item2 label i{ font-style:normal; color:#F00;}
	.makeSurePrice .item2 h1{ font-size: 14px; line-height: 2.6em; font-weight: bold; border-bottom: 1px dashed #CCC; margin-top: 20px;}
	.makeSurePrice .item2 p{ line-height: 2.6em;background-color: #ff5500;color: #FFF;font-size: 14px;text-indent: 1rem;}
	.makeSurePrice .item2 form{ margin-top: 20px;}
	.makeSurePrice .item2 form input.text{ height: 30px;border:1px solid #ddd; width: 100px;}
	.makeSurePrice .item2 form input.ocheck{ vertical-align: sub;}
	.makeSurePrice .item2 form .textarea{ position: relative; top:-3em;}
	.makeSurePrice .item2 form a{ color: #00f;}
	.makeSurePrice .item2 form select{ width: 102px; height: 34px; border:1px solid #ddd;}
	.makeSurePrice .item2 form .money{ color: #F00; font-size: 20px;}
	.makeSurePrice .item2 form li{ margin-bottom: 10px;}
	.makeSurePrice .item2 form .subBtn{ width: 110px; height: 32px; background-color: #ff5500; border:1px solid #ff5500; color:#FFF; font-size: 16px;}
	.makeSurePrice .item2 form .subBtn:hover{background-color: #ff3300;}

	#closeBtn{ width: 32px; height: 32px; position: absolute;top:-15px; right: -15px; z-index: 16; background: url(./images/close-bjd.png) no-repeat; background-color: #FFF; border-radius: 16px;}
	</style>

	<div class="mark"></div>
			
	<div class="makeSurePrice">
		<div id="closeBtn"></div>	
		<div class="item2">
			<form id="form_new_qiugou_info" action="{:U('Admin/updateQiugouInfo')}" method="post">
				<p>修改操作将使得此条求购信息被重新发布,请慎重操作!</p>
				<br>
				<ul>
					<li>
						<input hidden="hidden" id="ipt_gtb_id" name="gtb_id" value=""/>	
						<label for="">品名：</label>
					
						<input class="text" type="text" name="product_name" placeholder="品名">
					</li>
					<li>
					 	<label for="">材质：</label>
						<input class="text" type="text" name="product_mater" placeholder="材质">
					</li>
					<li>		
						<label for="">规格：</label>
						<input class="text" type="text" name="product_spec" placeholder="规格">
					</li>
					<li>		
						<label for="">采购量：</label>
						<input class="text" type="number" name="quantity" placeholder="规格">
					</li>
					
						<label for="">收货地：</label>
				        <input class="text" type="text" name="product_spec" placeholder="收货地">
				    </li>
					<li>    	
				        <label for="">截至日期</label>
				        <input class="text" type="date" name="expired_time" >
					</li>
				
					<li>
						<label for=""></label>
						<button  class="subBtn" type="button" onclick="submit_new_qiugou_info()" text="">确定修改</button>
					</li>
				</ul>
			</form>
		</div>

</div>


<script type="text/javascript">
	var appurl = '__APP__';
	var rooturl = '__ROOT__';
</script>
<script src="http://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<script src="__PUBLIC__/js/dayPicer/laydate.dev.js"></script>
<script src="__PUBLIC__/js/jquery-alertWidgist.js"></script>
<script>
$(function(){
	$('#upload').alertWidgist(appurl+'/Home/Admin/upLoad_qiugou.html');
});

</script>
<script>
var fileInput = document.getElementById('upLoadFile');
fileInput.onchange=function(){
	if(fileInput.value != ''){
		document.getElementById('hasUpLoadTip').style.display = 'inline';
	}
}	

laydate({
    elem: '#end_time_start'
});
laydate({
    elem: '#end_time_end'
});
</script>
<script>
    //报价弹框代码
    function boxFadeIn(id){
    	document.getElementById("ipt_gtb_id").value=id;
    	var fm_ipts=$("#form_new_qiugou_info").find("input");
    	var ul_lis=$("#ul"+id).find("li");
    	
    	fm_ipts.eq(1).attr("value",ul_lis.eq(1).html());
    	fm_ipts.eq(2).attr("value",ul_lis.eq(2).html());
    	fm_ipts.eq(3).attr("value",ul_lis.eq(3).html());
    	fm_ipts.eq(4).attr("value",ul_lis.eq(4).html());
    	fm_ipts.eq(5).attr("value",ul_lis.eq(5).html());
    	$('#appendBox').fadeIn('fast');
    }
    
    function submit_new_qiugou_info(){
		var ipt_info=$("#form_new_qiugou_info").find("input");
		var bo=true;
		ipt_info.each(function(){
			if($(this).attr('value')==""){
				alert("输入信息不完整！");
				bo=false;
				
				return false;
			}
		});
		if(bo){
			document.getElementById("form_new_qiugou_info").submit();	
		}
	}
    
    
    
    
    $('#closeBtn').on('click',function(){
			$('#appendBox').fadeOut('fast');
	});
   
	$(function(){
		$('.dingdan_list')
		.on('mouseenter',function(){
			$(this).find('.lookBj').slideDown('fast');
		})
		.on('mouseleave',function(){
			$(this).find('.lookBj').slideUp('fast');
		});
	});
</script>
<script>
	$(function(){
		var $form0 = $('#dingdan_box');
		var all_checkbox = $form0.find('.all_check').find('input');
		var item_checkbox= $form0.find('.one_check').find('input');
		//全选按钮事件
		all_checkbox.on('click',function(){
			
			if($(this).attr('checked')){
				item_checkbox.attr('checked','true');
				all_checkbox.attr('checked','true');
			}else if(!$(this).attr('checked') || $(this).attr('checked') == 'false'){
				//item_checkbox.removeAttr('checked');
				all_checkbox.removeAttr('checked');
				
			}
		});
		//全选后，如果又取消了某一项的选着，就取消全选按钮的选中状态
		item_checkbox.on('click',function(){
			if(!$(this).attr('checked')){
				all_checkbox.removeAttr('checked');
			}
		});
		//全部删除事件
		$('#all_delet').on('click',function(){
			$(this).parents('.dingdan_bottom').siblings('.dingdan_list').remove();
			hasDingdan();
			//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
		});

		//选中删除事件
		$('#one_delet').on('click',function(){		
			var count = 0;
			item_checkbox.each(function(){
				if($(this).attr('checked')){
					++count;
					
				}
			});
            if(count<1){
            	alert('你没有选择操作条目！');
            	return ;
            }
			hasDingdan();
			//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
		});
	    //批量刷新
		$('#batch_refresh').on('click',function(){		
			var count = 0;
			item_checkbox.each(function(){
				if($(this).attr('checked')){
					++count;
					
				}
			});
            if(count<1){
            	alert('你没有选择操作条目！');
            	return ;
            }
            window.location.reload();
			hasDingdan();
			//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
		});
		
		
		function hasDingdan(){
		//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
			var item_checkbox= $form0.find('.one_check').find('input');
			if(item_checkbox.size()<1){
				$('#no_dingdan').css('display','block');
			}
		}
		
		(function(){
		//侧边栏sideNave
			var sideTab = $('#sideNav').find('h2');
			var sideContent = $('#sideNav').find('ul');
			

			sideTab.each(function(index){
				$(this).on('click',function(){
					sideContent.eq(index).toggle();
					var pos = $(this).find('i').css('background-position');
					if(pos === '0px -16px'){
						$(this).find('i').css('background-position','0px 0px');
						flag = false;
					}else{
						$(this).find('i').css('background-position','0px -16px');
						flag = true;
					}
				});
			});
		})()
		//导航点击后获得焦点样式
		getActive($('.classify').find('a'),'active')
		function getActive($tabArr,classN){
			$tabArr.each(function(index){
				$(this).on('click',function(){
					$tabArr.removeClass(classN);
					$(this).addClass(classN);
				});
			});
		}

	

		//我的订单
		$('#my_dng_btn').on('mouseover',function(){
			$('#my_dng').stop().show();
		}).on('mouseout',function(){
			$('#my_dng').stop().hide();
		});
	});
</script>
</body>
</html>