<include file="public/top"/>
<div style="width:100%; border-top:1px solid #ccc;"></div>
	<!-- 导航开始 -->
	<include file="public/header_admin"/>
	<!-- 导航结束 -->
</div>
<div class="main">
	<!-- 左侧开始 -->
	<include file="public/left"/>
	
	<!-- 左侧结束 -->
	<div class="dingdan_right">
		<div id="position">
			你当前的位置：
			<a href="">会员中心</a><span></span>
			<a href="">我的交易</a><span></span>
			<a href="" class="now_ps">销售的订单</a>
		</div>
		<!-- 局部样式 -->
		<link rel="stylesheet" href="__PUBLIC__/css/user_dingdan.css">
		<!-- 订单查询开始 -->
		<div class="form_box">
			<form action="" method="post">
				<label for="dingdan"><i style="color:#FFF">空</i>订单号：</label>
				<input id="dingdan" name="dingdan" type="text">
				<label for="gs_name">买方公司名：</label>
				<input id="gs_name" name="gs_name" type="text"><br>

				<label for="dd_time_m">下单日期：</label>
				<input id="dd_time_m" name="dd_time_m" value="--月--" type="text">
				<input id="dd_time_d" name="dd_time_d" value="--号--" type="text">
				<label for="dd_status"><i style="color:#FFF">空</i>订单状态：</label>
				<!-- <input id="dd_status" name="dd_status" type="text"> -->
				<select name="dd_status" id="dd_status">
					<option value="未选择">选择订单状态--</option>
					<option value="未付款">未付款</option>
					<option value="已经付款">已经付款</option>
				</select>
				<input id="subBtn" type="submit" value="提交">
			</form>
		</div>
			<!-- 订单查询结束 -->
		<div class="dingdan_box" style="width: auto;overflow: auto;height: 500px;">
			<!-- 订单列表头部tab切换按钮 开始 -->
			<ul id="dingdan_tab">
				<li class="active it">销售订单<span>{$total_num}</span></li><li class="border_r">|</li>
				<li class="it"><a href="{:U('Admin/my_saleorder',array('order_status'=>'1'))}">待付款<span>{$unpaid_num}</span></a></li><li class="border_r">|</li>
				<li class="it"><a href="{:U('Admin/my_saleorder',array('shipping_status'=>'1'))}">待发货<span>{$non_delivery_num}</span></a></li><li class="border_r">|</li>
				<li class="it"><a href="{:U('Admin/my_saleorder',array('shipping_status'=>'2'))}">已发货<span>{$delivered_num}</span></a></li><li class="border_r">|</li>
				<li class="it">交易成功<span>0</span></li><li class="border_r">|</li>
				<li class="it">交易关闭<span>0</span></li>
				<li class="lajitong" style="float:right;border:none;"><i></i>订单回收车</li>
				<div style="clear:both;"></div>
			</ul>
			<!-- 订单列表头部tab切换按钮 结束 -->
			<!-- 列表头部开始 -->
			<ul id="dingdan_title">
				<li class="first">订单详情</li>
				<li>单价（元）</li>
				<li>订购重量</li>
				<li>订购金额</li>
				<li id="mySelectTab" style="position:relative; cursor:pointer;">订单状态
				<i></i>
				<div id="mySelect">
					<div>未开发票</div>
					<div>已开发票</div>
				</div>
				</li>
				<li>交易操作</li>
				<div style="clear:both;"></div>				
			</ul>
			<!-- 列表头部结束  -->
			<form id="form0" action="">
				<volist name="order_items" id="item">
				<ul class="dingdan_list">
					<li class="dingdan_list_title">
						<h3>
						<input class="item_checkbox" style="position:relative; top:3px; +top:0px;" type="checkbox">
						订单编号：<span>{$item.order_id}</span>
						下单日期：<span>{$item.created_at|date='Y-m-d H:i',###}</span>
						买方：<span style="color:#317ee7">{$item.buyer_company.company_name}</span>
						联系电话：<span>{$item.buyer_company.company_person_phone}</span>
						<span class="lajitong"></span>
						</h3>
						<div class="content">
							<div class="content_first fl">
								<h5>{$item.goods.product_name} {$item.goods.unit_price}元/吨 计重方式 {$item.goods.weighing_type}</h5>
								<span>规格：{$item.goods.product_specifications}</span><span>材质：{$item.goods.product_material}</span>
								<span>品牌/产地：{$item.goods.manufacturer}</span>
							</div>
							<div class="content_second fl">
								<span class="single_line">￥{$item.goods.unit_price}</span>
							</div>
							<div class="content_second fl">
								<span class="single_line">{$item.quantity_purchased}吨</span>
							</div>
							<div class="content_second fl">
								<span class="single_line">￥{$item.order_trans_price}</span>
							</div>
							<div class="content_second more_line fl">
								买家已收货<br>
								订单详情<br>
								<span style="color:#317ee7">{$item.invoice_status|order_invoice_status_to_show}</span>
							</div>
							<div class="content_second fl" style="width:114px;">
								<span class="blur_button">交易完成</span>
							</div>
							<div style="clear:both"></div>
						</div>
					</li>
				</ul>
				</volist>
				<!-- 列表为空显示 开始 -->
				<div id="no_dingdan">
					<p>暂无订单，赶紧去商城挑选吧！<br><a href="">商城首页>></a></p>
				</div>
				<!-- 列表为空显示 结束 -->
				<!-- 列表底部 开始 -->
				<div class="allTop dingdan_bottom">
					<input class="all_checkbox" style="position:relative;top:2px; +top:0px;" type="checkbox">
					<span style="padding:0 6px;">全选</span>
				<input class="alert" id="all_button" type="button" value="批量确认发货">
				</div>
				<!-- 列表底部 结束 -->
			</form>
		</div>
		<!-- 页码开始 -->
		<div id="page_ps">
			<ul>
				{$page}
			</ul>
		</div>
		<!-- 页码结束 -->
	</div>
</div>
<!-- footer开始 -->
<include file="public/top"/>
<!-- footer结束 -->
<script src="http://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<!--<script src="js/dayPicer/laydate.dev.js"></script>
<script type="text/javascript">
	laydate({
        elem: '#J-xl'
    });
</script>-->
<script>
	$(function(){
		var $form0 = $('#form0');
		var all_checkbox = $form0.find('.all_checkbox');
		var item_checkbox= $form0.find('.item_checkbox');
		//全选按钮事件
		all_checkbox.on('click',function(){
			
			if($(this).attr('checked')){
				item_checkbox.attr('checked','true');
				all_checkbox.attr('checked','true');
			}else if(!$(this).attr('checked') || $(this).attr('checked') == 'false'){
				//item_checkbox.removeAttr('checked');
				all_checkbox.removeAttr('checked');
				
			}
		});
		//全选后，如果又取消了某一项的选着，就取消全选按钮的选中状态
		item_checkbox.on('click',function(){
			if(!$(this).attr('checked')){
				all_checkbox.removeAttr('checked');
			}
		});
		//单项删除事件
		$('#form0').find('.lajitong').on('click',function(){
			$(this).parents('.dingdan_list').remove();
			hasDingdan();//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
		});
		//批量选中删除事件
		$('#dingdan_tab').find('.lajitong').on('click',function(){
			// var item_checkbox= $form0.find('.item_checkbox');
			// var all_checkbox = $form0.find('.all_checkbox');
			item_checkbox.each(function(){
				if($(this).attr('checked')){
					$(this).parents('.dingdan_list').remove();
					all_checkbox.removeAttr('checked');
				}
			});

			hasDingdan();//无订单时，无订单页面显示，有订单时，无订单页面隐藏；

		});
		function hasDingdan(){//无订单时，无订单页面显示，有订单时，无订单页面隐藏；
			var item_checkbox= $form0.find('.item_checkbox');
			if(item_checkbox.length<1){
				$('#no_dingdan').css('display','block');
			}
		}
		//订单状态下拉框
		(function(){
			var flag = true;
			$('#mySelectTab').on('click',function(){
				
				$('#mySelect').toggle();
				if(flag){
					$(this).find('i').css('background-position','0px -8px');
					flag = false;
				}else{
					$(this).find('i').css('background-position','0px 0px');
					flag = true;
				}
				
			});
		})();
		(function(){//侧边栏sideNave
			var sideTab = $('#sideNav').find('h2');
			var sideContent = $('#sideNav').find('ul');
			var flag = true;

			sideTab.each(function(index){
				$(this).on('click',function(){
					sideContent.eq(index).toggle();
					if(flag){
						$(this).find('i').css('background-position','0px -16px');
						flag = false;
					}else{
						$(this).find('i').css('background-position','0px 0px');
						flag = true;
					}
				});
			});
		})()
		getActive($('#dingdan_tab').find('li.it'),'active')
		function getActive($tabArr,classN){
			$tabArr.each(function(index){
				$(this).on('click',function(){
					$tabArr.removeClass(classN);
					$(this).addClass(classN);
				});
			});
		}
		//无选中操作提示
		$('.dingdan_bottom').find('.alert').on('click',function(){
			var count = 0;
			item_checkbox.each(function(){
				if($(this).attr('checked')){
					count++;
				}
			});
			if(count<1){alert('你没有选择操作条目！');}
		});
		//我的订单
		$('#my_dng_btn').on('mouseover',function(){
			$('#my_dng').show();
		}).on('mouseout',function(){
			$('#my_dng').hide();
		});
	});
</script>
</body>
</html>