<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<title>管理员后台</title>
</head>
<frameset rows="150,*" cols="*" frameborder="no" border="0" framespacing="0">
	<frame src="__CONTROLLER__/top" name="top" scrolling="No"/>
	<frameset cols="350,*" frameborder="no" border="0" framespacing="0">
		<frame src="__CONTROLLER__/left" name="left"/>
		<frame src="__CONTROLLER__/right" name="right"/>
	</frameset>
	<frame src="__CONTROLLER__/foot" name="foot" scrolling="No" noresize="noresize"/>
</frameset>
</html>