<div style="width:100%; border-top:1px solid #ccc;"></div>

<!-- 导航开始 -->
<div class="nav">
    <div class="nav_contain">
        <img style="float:left; margin-top:14px;" src="__PUBLIC__/images/logo.png" alt="">
        <h1><a href="{:U('Admin/index')}">我的会员中心 </a></h1><span style="float:left; color:#FFF; font-size:20px; line-height:72px;">|</span>
        <ul>
            <li><a href="{:U('Product/index')}">方块首页</a></li>
            <li><a href="{:U('Product/shopping')}">现货商城</a></li>
            <!--<li><a href="">完善采购信息</a></li>-->
        </ul>
    </div>
</div>
<!-- 导航结束 -->
</div>