
<!-- //左边 -->
	<div class="user_left">
		<h1>会员中心</h1>
		<div id="sideNav">
			<h2 class="bg1"><strong>我的交易</strong> <i></i></h2>
			<ul>
				<li><a href="{:U('Admin/my_order')}">采购的订单</a></li>
				<li><a href="{:U('Admin/my_saleorder')}">销售的订单</a></li>
				<li><a href="{:U('Admin/check_fapiao')}">发票查询</a></li>
				<li><a href="{:U('Admin/my_shopping_cart')}">我的购物车</a></li>
			</ul>
			<!--<h2 class="bg2"><strong>我的资源</strong><i></i></h2>-->
			<!--<ul>-->
				<!--<li><a href="{:U('Admin/my_focus')}">我的关注</a></li>-->
			<!--</ul>-->
			<h2 class="bg3"><strong>账户中心</strong><i></i></h2>
			<ul>
				<li><a href="{:U('Admin/my_infos')}">个人信息</a></li>
				<li><a href="{:U('Admin/company_infos')}">企业信息</a></li>
				<li><a href="{:U('Admin/my_nums')}">我的积分</a></li>
				<li><a href="{:U('Admin/my_safe')}">账户安全</a></li>
			</ul>
			<h2 class="bg4"><strong>我的发布</strong><i></i></h2>
			<ul>
				<li><a href="{:U('Admin/fabu_order')}">求购管理</a></li>
				<li><a href="{:U('Admin/fabu_goods')}">现货管理</a></li>
				<li><a href="{:U('Admin/fabu_sales')}">促销管理</a></li>
			</ul>
		</div>
	</div>
	<!-- //左边结束 -->